*{  
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    background-color: #017143;
    height: 80px;
}
html, body{
    height: 100%;
}
.center{
    display: flexbox;
    flex-wrap:wrap; 
    max-width:2000px;
    margin:0 auto;
    padding: 0%;
}
.header{
    height: 200px;
    padding: 20px 0;
}

.menu{
  padding-top: 30px;
  width: 100%;
  text-align: right;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px; 

}
.menu:hover{
    text-transform: lowercase;
    
}
.menu:active{
    color: #02351f;
}
section.sobre{
    height: calc(100% -200px);
    position:relative;

}
.extras{
    border-radius: 100% 0% 0% 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 700px;
    background-color: #017143;
    
}
.social-media{
    position:absolute;
    right: 10px;
    top: 500px;

}
.social-media img{
    display: block;
    width: 40px;
    margin: 10px 0;

}  
.texto-sobre{
    margin-top: 100px ;
    margin-bottom: 10px;
    margin-left: 100px;
} 
.texto-sobre h1{
    font-size: 50px;
    margin-bottom: 10px;
    
}
.texto-sobre p {
    margin: 30px 0;
    color: black;
    font-size: 20px;
    max-width: 1200px;
}
h2{
    margin: 30px 0;
    color: black;
    font-size: 20px;
    max-width: 1200px;
}
h3,ul{
    margin: 50px 0;
    color: black;
    font-size: 20px;
    max-width: 1200px;
    list-style: none;
    text-align: center;
}
.container{
  position: absolute;
  max-width: 100%;
  overflow:hidden;
  border-radius: 100% 100% 100% 100%;
  width: 300px;
  top: 10px;
  left: 50px;
  margin-right: 50px;
}
